.searchContainer__container {
    height         : 50px;
    width          : 80%;
    display        : flex;
    align-items    : center;
    justify-content: center;

    @media screen and (max-width: 777px) {
        flex-direction: column;
        margin : 15px 0;
    }
}