@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";
@import "../../styles/mixins.scss";

.modalCharacter {
    &__container {
        height       : 90%;
        width        : 90%;
        margin       : 5% auto 5% 5%;
        overflow     : hidden;
        display      : flex;
        border-radius: 0 9px 9px 0;

        @media screen and (max-width: $grid-mobile) {
            flex-direction: column;
        }
    }

    &__leftPanel {

        width          : 60%;
        overflow       : hidden;
        scrollbar-width: none;
        display        : flex;
        flex-direction : column;
        height         : 700px;

        @media screen and (max-width: $grid-mobile) {
            width: 100%;
        }
    }

    &__flowContainer {
        padding-bottom    : 5%;
        max-height        : 50%;
        min-height        : 55.5%;
        -ms-overflow-style: none;
        overflow-y        : scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        @media screen and (max-width: $grid-mobile) {
            max-height    : 30%;
            min-height    : 66.25%;
            padding-bottom: 10%;
        }
    }

    &__rightPanel {
        display       : flex;
        flex-direction: column;
        height        : 90%;
        width         : 40%;

        @media screen and (max-width: $grid-mobile) {
            width      : 100%;
            padding-top: 5px;
            align-items: center;
        }

    }

    &__image {
        height: 100%;
        width : 100%;

        background-position: center;
        background-repeat  : no-repeat;
        background-size    : cover;
        border-radius      : 9px;
        box-shadow         : 12px 10px 10px -12px rgba(0, 0, 0, 0.71);
        -webkit-box-shadow : 12px 10px 10px -12px rgba(0, 0, 0, 0.71);
        -moz-box-shadow    : 12px 10px 10px -12px rgba(0, 0, 0, 0.71);

        @media screen and (max-width: $grid-mobile) {
            background-position: center 25%;
            width              : 60%;
        }
    }

    &__description {
        font-size : 16px;
        color     : rgb(102, 101, 101);
        text-align: center;
    }

    &__update {
        @include placeholder-input;
        color           : $standar-white;
        margin-top      : 2.5%;
        resize          : none;
        width           : 95%;
        max-height      : 65px;
        height          : 35%;
        background-color: $brown-input;
        border          : none;
        border-radius   : 9px;
        padding         : 10px;
        outline         : none;

        &::-webkit-scrollbar {
            display: none;
        }

        &:focus {
            outline: none;
        }

    }

    &__add {
        @include placeholder-input;
        color           : $standar-white;
        margin-top      : 2.5%;
        resize          : none;
        width           : 100%;
        height          : 100%;
        background-color: $brown-input;
        border          : none;
        border-radius   : 9px;
        padding         : 10px;
        outline         : none;

        &::-webkit-scrollbar {
            display: none;
        }

        &:focus {
            outline: none;
        }

    }

    &__wrapperNewQuote {
        max-height: 65px;
        width     : 95%;
        height    : 25%;
        position  : relative;
    }

    &__addNewQuote {
        position           : absolute;
        bottom             : 0;
        right              : 3%;
        height             : 20px;
        width              : 20px;
        cursor             : pointer;
        outline            : inherit;
        background-image   : url('../../../public/assets/icon_send.png');
        background-repeat  : no-repeat;
        background-position: center;
        background-size    : cover;
        border-radius      : 5px;
        background-color   : transparent;
        border             : none;
    }

    &__quote {
        padding   : 10px;
        font-size : 16px;
        color     : $standar-black;
        z-index   : 1;
        text-align: center;
        display   : block;
        text-align: left;
        cursor    : pointer;

        @media screen and (max-width: $grid-mobile) {
            font-size: 12px;
        }
    }
}