@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.modalAdd {
    &__container {
        height       : 90%;
        width        : 90%;
        margin       : 5% auto 5% 5%;
        overflow     : hidden;
        display      : flex;
        border-radius: 0 9px 9px 0;

        @media screen and (max-width: $grid-mobile) {
            flex-direction: column;
        }
    }

    &__leftPanel {

        width             : 60%;
        overflow-y        : scroll;
        overflow-x        : hidden;
        -ms-overflow-style: none;
        scrollbar-width   : none;
        display           : flex;
        flex-direction    : column;
        height            : 700px;

        &::-webkit-scrollbar {
            display: none;
        }

        @media screen and (max-width: $grid-mobile) {
            width: 100%;
        }
    }

    &__rightPanel {

        height             : 90%;
        width              : 40%;
        background-position: center;
        background-repeat  : no-repeat;
        background-size    : cover;
        border-radius      : 9px;
        box-shadow         : 12px 10px 10px -12px rgba(0, 0, 0, 0.71);
        -webkit-box-shadow : 12px 10px 10px -12px rgba(0, 0, 0, 0.71);
        -moz-box-shadow    : 12px 10px 10px -12px rgba(0, 0, 0, 0.71);

        @media screen and (max-width: $grid-mobile) {
            width : 100%;
            height: 50%;
        }
    }

    &__title {
        margin-top: 1%;
    }

    &__add {
        margin-top      : 2.5%;
        resize          : none;
        width           : 80%;
        height          : 100px;
        background-color: $brown-input;
        border          : none;
        border-radius   : 9px;
        padding         : 10px;
        outline         : none;
        color           : $standar-white;

        &::-webkit-scrollbar {
            display: none;
        }

        &:focus {
            outline: none;
        }

        @media screen and (max-width: $grid-mobile) {
            width : 100%;
            height: 50px;
        }
    }

    &__name {
        color           : $standar-white;
        margin-top      : 2.5%;
        resize          : none;
        width           : 80%;
        height          : 50px;
        background-color: $brown-input;
        border          : none;
        border-radius   : 9px;
        padding         : 10px;
        outline         : none;

        &::-webkit-scrollbar {
            display: none;
        }

        &:focus {
            outline: none;
        }

        @media screen and (max-width: $grid-mobile) {
            width: 100%;
        }
    }

    &__dataSave {
        padding   : 10px;
        font-size : 16px;
        color     : $standar-black;
        z-index   : 1;
        text-align: center;
        display   : block;
        text-align: left;
    }

    &__submit {
        background-color: #7d5d3b;
        color           : $standar-white;
        border-radius   : 5px;
        width           : 100px;
        height          : 35px;
        padding         : 8px 16px;

        @media screen and (max-width: $grid-mobile) {
            margin-left: calc(50% - 50px);
        }
    }
}