$mid-desktop-bk: 1800px;
$laptop-15ich: 1550px;
$laptop-13ich: 1440px;
$tablet-bp: 1024px;
$tablet-portrait-bk: 830px;
$grid-mobile: 777px;
$mobile-portrait-bk: 650px;
$mobile-portrait-bk-small: 450px;
$mobile-landscape-bk: 500px;
$mobile-landscape-small-bk: 400px;