@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.searchBar {
    &__container {
        position: relative;
        height  : 50px;
        width   : 70%;

        @media screen and (max-width: $grid-mobile) {
            flex-direction: column;
            width         : 100%;
            margin-bottom : 5px;
        }
    }

    &__input {
        font-size            : inherit;
        color                : $standar-black;
        padding-left         : 0.5rem;
        padding-right        : 1rem;
        height               : 2rem;
        width                : 100%;
        overflow-wrap        : break-word;
        border               : 1px solid $standar-gray;
        word-wrap            : break-word;
        background-color     : transparent;
        border-radius        : 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius   : 9px;
        -ms-border-radius    : 9px;
        -o-border-radius     : 9px;
        position             : absolute;
        outline              : none;
        z-index              : 1;

        &:focus {
            background-color: transparent;
            outline         : none;
        }

        @media screen and (max-width: $grid-mobile) {
            height   : 40px;
            font-size: 15px;
        }
    }

    &__predictive {
        color                : $standar-gray;
        z-index              : -1;
        outline              : none;
        cursor               : none;
        -moz-user-select     : none;
        -webkit-user-select  : none;
        -ms-user-select      : none;
        user-select          : none;
        font-size            : inherit;
        padding-left         : 0.5rem;
        padding-right        : 1rem;
        height               : 2rem;
        width                : 100%;
        border               : 1px solid $standar-gray;
        background-color     : transparent;
        border-radius        : 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius   : 9px;
        -ms-border-radius    : 9px;
        -o-border-radius     : 9px;

        &:focus {
            background-color: transparent;
            outline         : none;
        }

        @media screen and (max-width: $grid-mobile) {
            height   : 40px;
            font-size: 15px;
        }
    }
}