@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.header {
    &__container {
        height: 100px;
        width : 80%;

        display        : flex;
        justify-content: space-around;
        align-items    : center;

        :first-child {
            border-right: 1px solid $standar-black;
        }

        :last-child {
            border-left: 1px solid $standar-black;
        }

        // @media screen and (max-width: $grid-mobile) {
        //    flex-direction: column;
        // }
    }

    &__option {
        font-size       : 36px;
        height          : 50px;
        width           : 100%;
        border          : none;
        cursor          : pointer;
        background-color: transparent;
        border-bottom   : 1px solid $standar-black;

        @media screen and (max-width: $mobile-portrait-bk-small) {
            font-size: 24px;
        }

        &-disable {
            border: none;

            opacity: .5;
            cursor : default;
        }
    }
}