.footer{
    &__container {
        background-image: url("../../../public/assets/office_building.png");
        background-repeat: no-repeat;
        background-size  : cover;
        height           : 250px;
        width            : 100%;
    }
}