@import "../../styles/mixins.scss";
.gridCharacater {
    &__container {
        height             : 30%;
        width              : 30%;
        margin             : 15px 15px 15px 0;
        border-radius      : 9px;
        min-width          : 300px;
        min-height         : 350px;
        background-position: center 10%;
        background-repeat  : no-repeat;
        background-size    : cover;
        display            : flex;
        align-items        : center;
        justify-content    : flex-end;
        flex-direction     : column;
        position           : relative;
        cursor             : pointer;

        @media screen and (max-width: 600px) {
            min-width: 280px;
            margin   : 15px 0;
            //add here a difirenciation of fist and lats chils to show better the element
        }
    }

    &__gradient {
        border-radius: 9px;
        background   : rgb(255, 255, 255);
        background   : linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 74%);
        position     : absolute;
        top          : 0;
        right        : 0;
        opacity      : 0.5;
    }

    &__name {
        @include align-center-elements;
        text-align: center;
        width: 100%;
        font-size: 36px;
        color    : rgb(255, 255, 255);
        z-index  : 1;
    }

    &__button {
        z-index         : 1;
        box-shadow      : inset 0px 1px 0px 0px #a6827e;
        background      : linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
        background-color: #7d5d3b;
        border-radius   : 9px;
        border          : 1px solid #54381e;
        display         : inline-block;
        color           : #ffffff;
        font-family     : Arial;
        font-size       : 18px;
        padding         : 8px 42px;
        text-decoration : none;
        text-shadow     : 0px 4px 21px #4d3534;
        cursor          : pointer;
        margin-bottom   : 5%;

        &:hover {
            background      : linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
            background-color: #634b30;
        }

        &:active {
            position: relative;
            top     : 1px;
        }
    }
}